.zipcode {
    background-color: #fff;
    display:flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
   }


.formZip{
    size: 2rem;
}

.inputZip {
    display:flex;
    flex-direction: column;
}

.spaceZip {
    size: 1.6rem;
    font-weight: 500;
    color: #bb5432;
    margin-bottom: 15px;
}


